*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: auto;
}
#header {
    width: 100%;
    height: 120px;
    background-color: rgb(23, 111, 161);
}
#left-sidebar {
    height: 600px;
    width: 20%;
    float: left;
    background-color: rgb(196, 235, 123);
}
#contents {
    width: 70%;
    height: 600px;
    float: left;
}
#right-sidebar {
    height: 600px;
    width: 10%;
    float: left;
    background-color: rgb(196, 235, 123);
}
#footer {
    width: 100%;
    background-color: aquamarine;
    height: 120px;
    clear: left;
}
